<div class="header-box">
  <div class="logo">
    <div>
      <h2>Mindstore 🧠</h2>
      <p id="version">Version 1.0.0</p>
    </div>

    <div class="logo-right">
      <div>
        <p>Texts in database: {{textCount}}</p>
        <p>Search results: {{filteredCount}}</p>
      </div>

      <button (click)="manageLoginOrLogout()" id="login-button">
        {{loggedIn ? "Logout" : "Login"}} &rarr;
      </button>
    </div>
  </div>

  <div class="search-box">
    <div class="search-inner">
      <h1>Search the knowledge base</h1>
      <input
        type="text"
        placeholder="Search..."
        (input)="onSearchInput($event)"
        class="search-bar"
        [(ngModel)]="searchTerm"
      />
    </div>
    <div *ngIf="hydrated && loggedIn" class="plus-button">
      <button>+</button>
    </div>
    <app-filter-button
      (childEmitter)="getTagsFromChild($event)"
    ></app-filter-button>
  </div>

  <div class="recent" *ngIf="historyArray.length > 0">
    <p><u>Recent searches:</u></p>
    <div class="history-half">
      <p *ngFor="let item of historyArray" (click)="onClickItem(item)">
        {{ item }}
      </p>
    </div>
  </div>
</div>
