<div class="logo">
  <h2>Mindstore 🧠</h2>
</div>

<div class="right-side">
  <input
    type="text"
    placeholder="Search for IT topic or a term"
    (input)="filterTexts(getInputValue($event))"
  />
</div>

<app-filter-button></app-filter-button>

<div>
  <div *ngIf="!loading && filteredTexts.length > 0; else loadingTemplate">
    <div *ngFor="let text of filteredTexts">
      <h2>{{ text.title }}</h2>
      <p>{{ text.content_raw }}</p>
    </div>
  </div>
  <ng-template #loadingTemplate>
    <p *ngIf="loading">Loading texts...</p>
    <p *ngIf="!loading && filteredTexts.length === 0">No texts found.</p>
  </ng-template>
</div>
