@use "sass:map";
@use "styles" as styles;

.header-box {
  color: map.get(styles.$colors, text);
  margin: -10px;
  //border-bottom: 2px solid black;
  width: 100vw;
  min-height: 180px;
}

.logo {
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border-bottom: 2px solid black;

  p {
    font-size: 12px;
    padding-right: 20px;
  }

  #version {
    margin-top: -10px;
  }
}

.recent {
  padding: 5px 5px 5px 30px;
  color: white;
  display: flex;
  gap: 15px;
  background-color: styles.$juicyOrange;

  p {
    font-size: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: styles.$darkBlue;
    }
  }
}

.history-half {
  display: flex;
  gap: 20px;
}

.search-bar {
  border-radius: 20px;
  font-size: 20px;
  padding: 8px;
}

.search-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  position: relative;
  background-color: styles.$lightBlue;
  min-height: 180px;
  padding: 20px;
}

.plus-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  button {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    border: 1px solid styles.$mediumBlue;
    border-radius: 50%;
    background-color: styles.$sunnyYellow;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

#login-button {
  background-color: styles.$sunnyYellow;
  border: none;
  border-radius: 20px;
  padding: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.logo-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
