@use "sass:map";
@use "styles" as styles;

.add-text {
  color: map.get(styles.$colors, text);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    padding: 5px;
    border-radius: 20px;
  }

  #post {
    background-color: styles.$juicyOrange;
    padding: 10px;
    color: white;
    margin: 10px;
  }
}

.add-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;

  button {
    margin: 5px;
  }
}

.command {
  flex-direction: column;
}

.singular-tag {
  background-color: styles.$lightBlue;
  color: map.get(styles.$colors, text);
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
}

.singular-tag.selected {
  background-color: styles.$mediumBlue;
  color: white;
}

.errorMsg {
  font-size: 12px;
  background-color: styles.$juicyOrange;
  border-radius: 20px;
  padding: 5px;
}
