@use "sass:map";
@use "styles" as styles;

.filter-menu-container {
  background-color: map.get(styles.$colors, text);
  height: 100vh;
  left: 0;
  top: 0;
  color: white;
  margin: 0;
  padding: 20px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 40vw;
}

.singular-tag {
  background-color: styles.$lightBlue;
  color: map.get(styles.$colors, text);
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.singular-tag.selected {
  background-color: styles.$mediumBlue;
  color: white;
}

.reset-btn {
  display: flex;
  color: map.get(styles.$colors, text);
  justify-content: end;

  button {
    background-color: styles.$sunnyYellow;
    border: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
  }
}

.go-btn {
  display: flex;
  color: map.get(styles.$colors, text);
  justify-content: end;
  align-items: end;
  flex: 1;
  overflow: auto;

  button {
    height: 30px;
    background-color: styles.$sunnyYellow;
    border-radius: 20px;
    padding: 7px;
    border: none;
    cursor: pointer;
  }
}
