// global colors

$lightBlue: #8ecae6;
$mediumBlue: #219ebc;
$darkBlue: #023047;
$sunnyYellow: #ffb703;
$juicyOrange: #fb8500;

// color map
$colors: (
  primary: $lightBlue,
  secondary: $mediumBlue,
  error: $juicyOrange,
  success: $sunnyYellow,
  text: $darkBlue,
);

body,
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
